[Unit]
Description=Launch data measures and log into InfluxDB
Requires=influxdb.service
After=influxdb.service

[Service]
Type=simple
Restart=always
ExecStart=<path to shell script>

[Install]
WantedBy=multi-user.target