mqtt:
    broker: localhost
    port: 1883
    username: ${oc.env:MQTT_USERNAME}
    password: ${oc.env:MQTT_PASSWORD}
    base_topic: "homeassistant"

sensors:
    - type: system_usage
      name: system_usage
      location: living_room
      nb_retry_measure: 3
      period: 10
      qos: 1
      parameters:
          cpu: true
          ram: true
          memory: true
          temperature: true

    - type: bme280
      name: bme280
      location: bedroom
      nb_retry_measure: 3
      period: 5
      qos: 1

    - type: bme680
      name: bme680
      location: kitchen
      nb_retry_measure: 3
      period: 5
      qos: 1

    - type: teleinfo
      name: teleinfo
      location: garage
      nb_retry_measure: 3
      qos: 1
      parameters:
          serial_port: "/dev/ttyAMA0"
